<div class="mask d-flex align-items-center">
<div class="container">
    <div class="row d-flex justify-content-center align-items-center">
        <div class="col-8">
            <table class="table table-dark">
                <thead>
                    <tr>
                        <th scope="col">Naam</th>
                        <th scope="col">E-mailadres</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let participant of participants">
                        <td>{{ participant.firstname }} {{ participant.lastname }}</td>
                        <td>{{ participant.emailAddress }}</td>
                        <td><button class="btn">Deactiveer</button></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="row d-flex justify-content-center align-items-center">
        <div class="col-4">
            <table class="table table-dark">
                <thead>
                    <tr>
                        <th>Tag</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let tag of tags">
                        <td>{{tag.name}}</td>
                        <td><button class="btn" (click)="editModal(content,tag._id,tag.name)"><i class="bi bi-pencil"></i></button><button class="btn" (click)="deleteModal(content,tag._id,tag.name)"><i class="bi bi-trash3"></i></button></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
</div>

<ng-template #content let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-tag-edit">Aanpassen</h4>
      <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body">
      <span>Tag</span>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn" (click)="modal.dismiss()">
        Annuleren
      </button>
      <button type="button" class="btn" (click)="editTag()">
        aanpassen
    </button>
    </div>
  </ng-template>

  <ng-template #content let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-tag-delete">Verwijderen</h4>
      <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body">
      <span>Tag</span>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn" (click)="modal.dismiss()">
        Annuleren
      </button>
      <button type="button" class="btn" (click)="editTag()">
        aanpassen
    </button>
    </div>
  </ng-template>