<div class="mask d-flex align-items-center mt-3">
    <div class="container">
        <div class="row d-flex justify-content-center align-items-center">
            <div class="col-12">
                <div class="card shadow-lg">
                    <div class="card-body p-5">
                        <h1>{{ organization?.name }}</h1>
                        <div class="row d-flex justify-content-center align-items-center mt-5">
                            <div class="col-12">
                                <h5>Alle leden</h5>
                                <table mat-table [dataSource]="participants" class="mat-elevation-z8">
                                    <!-- Picture (Initials) -->
                                    <ng-container matColumnDef="picture">
                                        <th mat-header-cell *matHeaderCellDef></th>
                                        <td mat-cell *matCellDef="let participant"><span class="userPic">{{
                                                participant.initials
                                                }}</span></td>
                                    </ng-container>
                                    <!-- Fullname -->
                                    <ng-container matColumnDef="name">
                                        <th mat-header-cell *matHeaderCellDef> Naam </th>
                                        <td mat-cell *matCellDef="let participant"> {{ participant.firstname }} {{
                                            participant.lastname
                                            }} </td>
                                    </ng-container>
                                    <!-- Emailaddress -->
                                    <ng-container matColumnDef="emailAddress">
                                        <th mat-header-cell *matHeaderCellDef> E-mailadres </th>
                                        <td mat-cell *matCellDef="let participant"> {{ participant.emailAddress }} </td>
                                    </ng-container>
                                    <!-- Created at -->
                                    <ng-container matColumnDef="createdAt">
                                        <th mat-header-cell *matHeaderCellDef> Lid sinds </th>
                                        <td mat-cell *matCellDef="let participant"> {{ (participant.createdAt | date:
                                            'short')
                                            || '-' }}
                                        </td>
                                    </ng-container>
                                    <!-- Last login -->
                                    <ng-container matColumnDef="lastLogin">
                                        <th mat-header-cell *matHeaderCellDef> Laatste login </th>
                                        <td mat-cell *matCellDef="let participant"> {{ (participant.lastLoginTimestamp |
                                            date:
                                            'short')
                                            || '-' }} </td>
                                    </ng-container>
                                    <!-- Status -->
                                    <ng-container matColumnDef="status">
                                        <th mat-header-cell *matHeaderCellDef></th>
                                        <td mat-cell *matCellDef="let participant"><button
                                                class="btn">Deactiveer</button>
                                        </td>
                                    </ng-container>
                                    <!-- Headers -->
                                    <tr mat-header-row *matHeaderRowDef="displayedColumns" class="p-3"></tr>
                                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                                </table>

                            </div>
                        </div>
                        <div class="row d-flex justify-content-center align-items-center mt-5">
                            <div class="col-12">
                                <!-- Tags -->
                                <h5>Alle tags</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>