<div class="container">
  <div class="row justify-content-center">
    <div class="col-sm-10 col-md-8 col-lg-6 my-5">
      <div class="card card-auth shadow-lg p-3 px-md-5 py-md-4">
        <div class="d-flex justify-content-center">
          <h2>Wachtwoord instellen</h2>
        </div>
        <hr class="form-divider" />

        <form
          class="form-signin"
          [formGroup]="resetPasswordForm"
          (ngSubmit)="onSubmit()"
        >
          <div class="form-group mt-4">
            <label for="inputPassword">Wachtwoord</label>
            <div class="input-group">
              <input
                type="{{ showPassword ? 'text' : 'password' }}"
                class="form-control"
                formControlName="password"
                id="inputPassword"
                [ngClass]="{
                  'is-invalid':
                    resetPasswordForm.get('password')?.invalid &&
                    resetPasswordForm.get('password')?.touched
                }"
              />

              <div class="input-group-append" (click)="showPasswordToggle()">
                <span
                  class="input-group-text"
                  style="border-radius: 0px; cursor: pointer"
                  [ngClass]="{
                    'is-invalid-eye':
                      resetPasswordForm.get('password')?.invalid &&
                      resetPasswordForm.get('password')?.touched
                  }"
                >
                  <i *ngIf="showPassword" class="bi bi-eye-slash"></i>
                  <i *ngIf="!showPassword" class="bi bi-eye"></i>
                </span>
              </div>

              <span
                *ngIf="
                  !resetPasswordForm.get('password')?.valid &&
                  resetPasswordForm.get('password')?.touched
                "
                class="invalid-feedback"
              >
                <p id="input-invalid">
                  Wachtwoord moet bestaan uit minimaal 1 hoofdletter, 1 kleine
                  letter, 1 cijfer en minimaal 8 karakters!
                </p>
              </span>
            </div>
          </div>

          <div class="form-group mt-4">
            <label for="inputConfirmPassword">Bevestig wachtwoord</label>
            <div class="input-group">
              <input
                type="{{ showConfirmPassword ? 'text' : 'password' }}"
                class="form-control"
                formControlName="confirmPassword"
                id="inputConfirmPassword"
                [ngClass]="{
                  'is-invalid':
                    resetPasswordForm.get('confirmPassword')?.invalid &&
                    resetPasswordForm.get('confirmPassword')?.touched
                }"
              />
              <div
                class="input-group-append"
                (click)="showConfirmPasswordToggle()"
              >
                <span
                  class="input-group-text"
                  style="border-radius: 0px; cursor: pointer"
                  [ngClass]="{
                    'is-invalid-eye':
                      resetPasswordForm.get('confirmPassword')?.invalid &&
                      resetPasswordForm.get('confirmPassword')?.touched
                  }"
                >
                  <i *ngIf="showConfirmPassword" class="bi bi-eye-slash"></i>
                  <i *ngIf="!showConfirmPassword" class="bi bi-eye"></i>
                </span>
              </div>
              <span
                *ngIf="
                  !resetPasswordForm.get('confirmPassword')?.valid &&
                  resetPasswordForm.get('confirmPassword')?.touched
                "
                class="invalid-feedback"
              >
                <p id="input-invalid">Wachtwoorden komen niet overeen!</p>
              </span>
            </div>
          </div>

          <div class="form-group">
            <button
              class="btn btn-100"
              type="submit"
              style="margin-top: 30px"
              [disabled]="!resetPasswordForm.valid"
            >
              Wachtwoord instellen
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
