<div class="container">
  <div class="row justify-content-center">
    <div class="col-sm-10 col-md-8 col-lg-6 my-5">
      <div class="card card-auth shadow-lg p-3 px-md-5 py-md-4">
        <div class="d-flex justify-content-center">
          <h2>Wachtwoord vergeten</h2>
        </div>
        <hr class="form-divider" />

        <form
          class="form-signin"
          [formGroup]="forgotPasswordForm"
          (ngSubmit)="onSubmit()"
        >
          <!--
                email
               -->
          <div class="form-group mt-4">
            <label for="inputEmailAddress">E-mailadres</label>
            <input
              type="email"
              class="form-control"
              formControlName="emailAddress"
              id="inputEmailAddress"
              aria-describedby="emailAddressHelp"
              [ngClass]="{
                'is-invalid':
                  forgotPasswordForm.get('emailAddress')?.invalid &&
                  forgotPasswordForm.get('emailAddress')?.touched
              }"
            />
            <span
              *ngIf="
                !forgotPasswordForm.get('emailAddress')?.valid &&
                forgotPasswordForm.get('emailAddress')?.touched
              "
              class="invalid-feedback"
            >
              <p id="input-invalid">Vul een geldig e-mailadres in!</p>
            </span>
          </div>

          <div class="form-group">
            <button
              id="submitbutton"
              class="btn btn-100"
              type="submit"
              style="margin-top: 30px"
              [disabled]="!forgotPasswordForm.valid"
            >
              Versturen
            </button>
          </div>
          <p class="mt-2">
            Herinner je je wachtwoord? Log
            <a class="text-link" routerLink="/login">hier</a>
            in.
          </p>
        </form>
      </div>
    </div>
  </div>
</div>
