<div class="filter-outline">
  <div class="filter-top-button-container">
    <!-- Close dialog -->
    <input
      class="filter-x-button"
      type="button"
      value="x"
      (click)="closeDialog()"
    />
  </div>
  <div class="filter-container">
    <div class="filter-content">
      <div class="filter-row">
        <h2 class="filter-title">Filter <span class="h2-span">zoekopdracht</span></h2>
      </div>
      <!-- Filter tags AND/OR -->
      <div class="filter-row" *ngIf="this.searchType === 'tags'">
        <div class="filter-text-container">
          <h5 class="filter-subtitle">Tags</h5>
          <p class="filter-subtext">Een gebeurtenis moet...</p>
        </div>
        <div class="filter-data">
          <mat-radio-group
            class="filter-data-radio"
            [(ngModel)]="radioValue"
            name="radioValue"
          >
            <mat-radio-button value="and">Alle tags bevatten</mat-radio-button>
            <mat-radio-button value="or"
              >Eén van de tags bevatten</mat-radio-button
            >
          </mat-radio-group>
        </div>
      </div>
      <!-- Filter archive events -->
      <div class="filter-row">
        <div class="filter-text-container">
          <h5 class="filter-subtitle">
            Archief
          </h5>
        </div>
        <div class="filter-data">
          <div class="filter-data-switch">
            <label class="filter-data-switch-label">
              <input
                type="checkbox"
                (click)="toggleArchivedEvents()"
                [checked]="showArchivedEvents"
              />
              Toon gearchiveerde gebeurtenissen</label
            >
          </div>
        </div>
      </div>
      <!-- Submit filter -->
      <div class="filter-row">
        <div class="filter-button-container">
          <input
            class="filter-button-submit btn"
            type="button"
            value="Pas filters toe"
            (click)="filterSubmit()"
          />
        </div>
      </div>
    </div>
  </div>
</div>
