<div class="container login-container">
  <div class="row justify-content-center">
    <div class="col-sm-10 col-md-8 col-lg-6 my-5">
      <div class="card card-auth shadow-lg p-3 px-md-5 py-md-4">
        <div class="d-flex justify-content-center">
          <h2>Inloggen</h2>
        </div>
        <hr class="form-divider" />
        <form
          class="form-signin"
          [formGroup]="loginForm"
          (ngSubmit)="onSubmit()"
        >
          <div class="form-group mt-4">
            <label for="inputEmailAddress">E-mailadres</label>
            <input
              type="text"
              class="form-control"
              formControlName="emailAddress"
              id="inputEmailAddress"
              aria-describedby="emailAddressHelp"
              [ngClass]="{
                'is-invalid':
                  loginForm.get('emailAddress')?.invalid &&
                  loginForm.get('emailAddress')?.touched
              }"
            />
            <span
              *ngIf="
                !loginForm.get('emailAddress')?.valid &&
                loginForm.get('emailAddress')?.touched
              "
              class="invalid-feedback"
            >
              <p id="emailAddress-invalid">Vul een e-mailadres in!</p>
            </span>
          </div>

          <div class="form-group mt-4">
            <label for="inputPassword">Wachtwoord</label>
            <div class="input-group">
              <input
                type="{{ showPassword ? 'text' : 'password' }}"
                class="form-control"
                formControlName="password"
                id="inputPassword"
                [ngClass]="{
                  'is-invalid':
                    loginForm.get('password')?.invalid &&
                    loginForm.get('password')?.touched
                }"
              />

              <div class="input-group-append" (click)="showPasswordToggle()">
                <span
                  class="input-group-text"
                  style="border-radius: 0px; cursor: pointer"
                  [ngClass]="{
                    'is-invalid-eye':
                      loginForm.get('password')?.invalid &&
                      loginForm.get('password')?.touched
                  }"
                >
                  <i *ngIf="showPassword" class="bi bi-eye-slash"></i>
                  <i *ngIf="!showPassword" class="bi bi-eye"></i>
                </span>
              </div>

              <span
                *ngIf="
                  !loginForm.get('password')?.valid &&
                  loginForm.get('password')?.touched
                "
                class="invalid-feedback"
              >
                <p style="margin-bottom: 0" id="password-invalid">
                  Vul een wachtwoord in!
                </p>
              </span>
            </div>
          </div>

          <div class="form-group mt-4">
            <button
              id="submitbutton"
              class="btn btn-100 btn-block"
              type="submit"
              style="margin-top: 15px"
              [disabled]="!loginForm.valid && !submitted"
            >
              Inloggen
            </button>
          </div>

          <p class="mt-2">
            Wachtwoord vergeten? Wijzig
            <a routerLink="/forgot_password" class="text-link">hier</a> je
            wachtwoord.
          </p>

          <p style="margin-bottom: 0">
            Heb je nog geen account? Maak
            <a routerLink="/register" class="text-link">hier</a> een account aan.
          </p>
        </form>
      </div>
    </div>
  </div>
</div>
