<div class="mask d-flex align-items-center gradient-custom-3 p-2">
    <div class="container my-4">
        <div class="row d-flex justify-content-center align-items-center">
            <div class="col-12 col-md-9 col-lg-7 col-xl-6">
                <div class="card shadow-lg" style="border-radius: 15px">
                    <div class="card-body p-5">
                        <div class="d-flex justify-content-center">
                            <h3>Event Toevoegen</h3>
                        </div>
                        <form #eventForm="ngForm" name="form" (ngSubmit)="eventForm.valid && onSubmit()" novalidate>

                            <div class="row d-flex justify-content-center align-items-center">
                                <div class="form-outline mt-4">
                                    <label for="title" class="form-label">Titel</label>
                                    <input type="text" class="form-control form-control-lg" [(ngModel)]="event.title"
                                        name="title" #title="ngModel" [ngClass]="{
                                            'is-invalid':
                                            title.invalid && title.touched
                                        }" required [ngClass]="{
                                            'is-invalid':
                                            title.invalid && title.touched
                                        }">
                                </div>
                                <div *ngIf="title.invalid && title.touched" class="invalid-feeback">
                                    <div *ngIf="title.errors?.['required']">
                                        Title is required
                                    </div>
                                </div>
                                <div class="form-outline mt-4">
                                    <label for="description" class="form-label">Beschrijving</label>
                                    <textarea type="text" class="form-control form-control-lg"
                                        [(ngModel)]="event.description" name="description" #description="ngModel"
                                        [ngClass]="{
                                        'is-invalid':
                                        description.invalid && description.touched
                                    }" required [ngClass]="{
                                        'is-invalid':
                                        description.invalid && description.touched
                                    }"></textarea>
                                </div>
                                <div *ngIf="title.invalid && title.touched" class="invalid-feeback">
                                    <div *ngIf="description.errors?.['required']">
                                        Description is required
                                    </div>
                                </div>
                                <div class="form-outline mt-4">
                                    <label for="content" class="form-label">Content</label>
                                    <textarea type="text" class="form-control form-control-lg"
                                        [(ngModel)]="event.content" name="content" #content="ngModel" [ngClass]="{
                                        'is-invalid':
                                        content.invalid && content.touched
                                    }" required [ngClass]="{
                                        'is-invalid':
                                        content.invalid && content.touched
                                    }"></textarea>
                                </div>
                                <div *ngIf="title.invalid && title.touched" class="invalid-feeback">
                                    <div *ngIf="content.errors?.['required']">
                                        Content is required
                                    </div>
                                </div>
                                <div class="form-outline mt-4">
                                    <label for="date" class="form-label">Datum</label>
                                    <input type="datetime-local" class="form-control form-control-lg"
                                        [(ngModel)]="event.eventDate" name="eventDate" #eventDate="ngModel" [ngClass]="{
                                        'is-invalid':
                                        eventDate.invalid && eventDate.touched
                                    }" required [ngClass]="{
                                        'is-invalid':
                                        eventDate.invalid && eventDate.touched
                                    }">
                                </div>
                                <div *ngIf="title.invalid && title.touched" class="invalid-feeback">
                                    <div *ngIf="eventDate.errors?.['required']">
                                        Date is required
                                    </div>
                                </div>
                                <div class="d-flex justify-content-center mt-5">
                                    <button type="submit" class="btn input-block-level form-control btn-success"
                                        [disabled]="!eventForm.valid">Opslaan</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>