<div class="container">
  <div class="row justify-content-center">
    <div class="col-sm-10 col-md-8 col-lg-6 my-5">
      <div class="card card-auth shadow-lg p-3 px-md-5 py-md-4">
        <div class="d-flex justify-content-center">
          <h2>Account verifiëren</h2>
        </div>
        <hr class="form-divider" />

        <div class="d-flex justify-content-center"></div>

        <p class="test-p-tag">
          Een verificatie code is gestuurd naar <b>{{ 'test@gmail.com' }}</b>
        </p>

        <p>
          Controleer alsjeblieft je mailbox en vul de verkregen verificatiecode
          in om je account te verifiëren.
        </p>

        <button
          id="submitbutton"
          class="btn btn-100 btn-block"
          type="submit"
          style="margin-top: 15px"
        >
          Verifieer
        </button>

        <p class="mt-2" style="font-size: 14px; cursor: pointer">
          Heb je geen email ontvangen?
          <a routerLink="/" class="text-link">Email opnieuw verzenden</a>!
        </p>
      </div>
    </div>
  </div>
</div>
