<div class="search">
  <form class="search-form">
    <div class="search-form-container">
      <input type="text" name="search" id="search" class="search-searchbar">
      <button type="submit" class="search-submit">
        <svg class="search-submit-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
          <path
            d="M416 208c0 45.9-14.9 88.3-40 122.7L502.6 457.4c12.5 12.5 12.5 32.8 0 45.3s-32.8 12.5-45.3 0L330.7 376c-34.4 25.2-76.8 40-122.7 40C93.1 416 0 322.9 0 208S93.1 0 208 0S416 93.1 416 208zM208 352c79.5 0 144-64.5 144-144s-64.5-144-144-144S64 128.5 64 208s64.5 144 144 144z" />
        </svg>
      </button>
    </div>
  </form>
</div>

<div class="timeline">

  <div class="timeline-year">
    <span class="timeline-year-content">2018</span>
  </div>

  <div class="timeline-container left">
    <div class="timeline-icon">
      <div class="timeline-icon-content">
        <span class="timeline-icon-content-day">
          31
        </span>
        <span class="timeline-icon-content-month">
          dec
        </span>
      </div>
    </div>
    <div class="timeline-textbox">
      <h2>Lorem, ipsum dolor.</h2>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque obcaecati recusandae harum.
      </p>
    </div>
  </div>

  <div class="timeline-container right">
    <div class="timeline-icon">
      <div class="timeline-icon-content">
        <span class="timeline-icon-content-day">
          31
        </span>
        <span class="timeline-icon-content-month">
          dec
        </span>
      </div>
    </div>
    <div class="timeline-textbox">
      <h2>Lorem, ipsum dolor.</h2>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque obcaecati recusandae harum.
      </p>
    </div>
  </div>

  <div class="timeline-container left">
    <div class="timeline-icon">
      <div class="timeline-icon-content">
        <span class="timeline-icon-content-day">
          31
        </span>
        <span class="timeline-icon-content-month">
          dec
        </span>
      </div>
    </div>
    <div class="timeline-textbox">
      <h2>Lorem, ipsum dolor.</h2>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque obcaecati recusandae harum.
      </p>
    </div>
  </div>

  <div class="timeline-container right">
    <div class="timeline-icon">
      <div class="timeline-icon-content">
        <span class="timeline-icon-content-day">
          31
        </span>
        <span class="timeline-icon-content-month">
          dec
        </span>
      </div>
    </div>
    <div class="timeline-textbox">
      <h2>Lorem, ipsum dolor.</h2>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque obcaecati recusandae harum.
      </p>
    </div>
  </div>

  <div class="timeline-container left">
    <div class="timeline-icon">
      <div class="timeline-icon-content">
        <span class="timeline-icon-content-day">
          31
        </span>
        <span class="timeline-icon-content-month">
          dec
        </span>
      </div>
    </div>
    <div class="timeline-textbox">
      <h2>Lorem, ipsum dolor.</h2>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque obcaecati recusandae harum.
      </p>
    </div>
  </div>

  <div class="timeline-container right">
    <div class="timeline-icon">
      <div class="timeline-icon-content">
        <span class="timeline-icon-content-day">
          31
        </span>
        <span class="timeline-icon-content-month">
          dec
        </span>
      </div>
    </div>
    <div class="timeline-textbox">
      <h2>Lorem, ipsum dolor.</h2>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque obcaecati recusandae harum.
      </p>
    </div>
  </div>

  <div class="timeline-container left">
    <div class="timeline-icon">
      <div class="timeline-icon-content">
        <span class="timeline-icon-content-day">
          31
        </span>
        <span class="timeline-icon-content-month">
          dec
        </span>
      </div>
    </div>
    <div class="timeline-textbox">
      <h2>Lorem, ipsum dolor.</h2>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque obcaecati recusandae harum.
      </p>
    </div>
  </div>

  <div class="timeline-container right">
    <div class="timeline-icon">
      <div class="timeline-icon-content">
        <span class="timeline-icon-content-day">
          31
        </span>
        <span class="timeline-icon-content-month">
          dec
        </span>
      </div>
    </div>
    <div class="timeline-textbox">
      <h2>Lorem, ipsum dolor.</h2>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque obcaecati recusandae harum.
      </p>
    </div>
  </div>

</div>
