$primary-color: #FBA92C;
$secondary-color: #ffffff;
$background-color: #E8ECFF;

// area around search bar
.search {
  width: 100%;
  height: 350px;
}

//area around search bar
.search-form {
  position: absolute;
  background-color: $primary-color;
  width: inherit;
  height: inherit;
  z-index: 3;
  text-align: center;
  display: table-cell;
  vertical-align: middle;
}

//area around search bar, centered
.search-form-container {
  position: absolute;
  left: 50%;
  width: 80%;
  top: 30%;
  height: 50px;
  transform: translateX(-50%);
  background-color: transparent;
}

.input-group {
  width: 40% !important;
}

.search-title {
  text-align: center;
  color: #ffffff;
}

//search bar 
.search-searchbar {
  border: none;
  background-color: $secondary-color;
  width: 40% !important;
  height: 40px;
  font-size: 20px;
  color: $secondary-color;

  //search bar on mouse focus
  &:focus {
    outline: none;
    caret-color: $secondary-color;
  }
}

//submit button
.search-submit {
  width: 40px;
  height: 40px;
  border: none;
  background-color: $secondary-color;
  padding-left: 5px;
}

//button icon
.search-submit-icon {
  height: 20px;
  width: 20px;
}

//area around timeline
.timeline {
  position: relative;
  max-width: 1500px;
  margin: 50px auto;

  //vertical line
  &::before {
    content: '';
    position: absolute;
    width: 6px;
    height: 102%;
    background-color: #FFF;
    top: -2%;
    left: 50%;
    transform: translateX(-50%);
    z-index: -1;
  }

  //little dot on top of the line
  &::after {
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: $primary-color;
    top: -30px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 50%;
    border: 2px solid #FFF;
  }
}

//container for a timeline item
.timeline-container {
  padding: 0 50px;
  position: relative;
  width: 50%;
  display: none;

  >.timeline-year {
    position: absolute;
    padding: 0.2rem 0;
    width: 70px;
    right: -35px;
    text-align: center;
    border: 2px solid $primary-color;
    background-color: white;
    z-index: 1;
    font-weight: bold;
  }

  //date-circle on the line
  >.timeline-icon {
    position: absolute;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: #FFF;
    right: -35px;
    top: 2.6rem;
    z-index: 1;

    //content of a date-circle
    >.timeline-icon-content {
      position: absolute;
      left: 50%;
      top: 5px;
      transform: translateX(-50%);
      text-align: center;
      padding: 0;
      margin: 0;

      //day of the event inside date-circle
      >.timeline-icon-content-day {
        font-size: 35px;
        line-height: 1.2;
      }

      //month of the event inside date-circle
      >.timeline-icon-content-month {
        position: absolute;
        top: 34px;
        left: 50%;
        transform: translateX(-50%);
      }
    }

    //triangle that connects an event to a date-circle
    &::after {
      content: '';
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      z-index: 10;
      border-top: 15px solid transparent;
      border-bottom: 15px solid transparent;
    }
  }
}

//items placed left of the timeline
.left {
  left: 0;

  //triangle points right for left events
  >.timeline-icon::after {
    right: 100%;
    border-left: 15px solid #FFF;
  }
}

//items placed right of the timeline
.right {
  left: 50%;

  >.timeline-year {
    right: 0;
    left: -35px;
  }

  //place icon of right sided events on the timeline
  >.timeline-icon {
    left: -35px;

    //triangle points left for right events
    &::after {
      left: 100%;
      border-right: 15px solid #FFF;
    }
  }

  >.timeline-textbox>.detail-button-container {
    text-align: end;
  }
}

//container for timeline item text
.timeline-textbox {
  padding: 18px 25px;
  background-color: #FFF;
  position: relative;
  font-size: 15px;
}

.detail-button {
  padding: 10px 30px;
  outline: 0;
  border: 2px solid $primary-color;
  background-color: transparent;
  position: relative;
  z-index: 1;
  font-size: 19px;
  font-weight: 500;
  color: $primary-color;

  &:hover {
    background-color: $primary-color;
    color: #FFF
  }
}

.timeline-container-seen {
  @extend .timeline-container;
  display: block;
}

@keyframes slide-up {
  0% {
    margin-top: 500px;
  }
}

@media (prefers-reduced-motion: no-preference) {
  .timeline-container {
    animation: slide-up 1s 1;
  }
}

//changes values when using smaller screen
@media screen and (max-width: 800px) {

  .search-searchbar {
    width: 80%;
  }


  .timeline {
    margin: 50px auto 50px 30px;

    &::before,
    &::after {
      left: 35px;
    }
  }

  .timeline-container {
    width: 100%;
  }

  .timeline-textbox {
    margin: 1rem 0 1rem 35px;
  }

  .right,
  .right>.timeline-icon {
    left: 0%;

    >.timeline-textbox>.detail-button-container {
      text-align: start;
    }
  }

  .left>.timeline-icon {
    left: 0%;

    &::after {
      left: 100%;
      border-right: 15px solid #FFF;
      border-left: none;
    }
  }
}