<div class="container">
  <div class="timeline-container">
    <div></div>
    <div class="timeline-vertical">
      <div class="timeline__point"></div>
    </div>
    <div class="timeline__component">
      <h2 class="timeline__title">Lorem ipsum dolor sit.</h2>
      <p class="timeline__paragraph">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit accusamus
        fugit, adipisci magni cum ullam, commodi
      </p>
    </div>

    <div class="timeline__component">
      <h2 class="timeline__title">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam,
        nisi!
      </h2>
      <p class="timeline__paragraph">
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Fugiat nulla
        sint voluptate dolor quo commodi ut mollitia labore ad! Animi?
      </p>
    </div>
    <div class="timeline-vertical">
      <div class="timeline__point"></div>
    </div>
    <div></div>

    <div></div>
    <div class="timeline-vertical">
      <div class="timeline__point"></div>
    </div>
    <div class="timeline__component">
      <h2 class="timeline__title">Lorem ipsum dolor sit.</h2>
      <p class="timeline__paragraph">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit accusamus
        fugit, adipisci magni cum ullam, commodi
      </p>
    </div>

    <div class="timeline__component">
      <h2 class="timeline__title">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam,
        nisi!
      </h2>
      <p class="timeline__paragraph">
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Fugiat nulla
        sint voluptate dolor quo commodi ut mollitia labore ad! Animi?
      </p>
    </div>
    <div class="timeline-vertical">
      <div class="timeline__point"></div>
    </div>
    <div></div>

    <div></div>
    <div class="timeline-vertical">
      <div class="timeline__point"></div>
    </div>
    <div class="timeline__component">
      <h2 class="timeline__title">Lorem ipsum dolor sit.</h2>
      <p class="timeline__paragraph">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit accusamus
        fugit, adipisci magni cum ullam, commodi
      </p>
    </div>

    <div class="timeline__component">
      <h2 class="timeline__title">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam,
        nisi!
      </h2>
      <p class="timeline__paragraph">
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Fugiat nulla
        sint voluptate dolor quo commodi ut mollitia labore ad! Animi?
      </p>
    </div>
    <div class="timeline-vertical">
      <div class="timeline__point"></div>
    </div>
    <div></div>

    <div></div>
    <div class="timeline-vertical">
      <div class="timeline__point"></div>
    </div>
    <div class="timeline__component">
      <h2 class="timeline__title">Lorem ipsum dolor sit.</h2>
      <p class="timeline__paragraph">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit accusamus
        fugit, adipisci magni cum ullam, commodi
      </p>
    </div>

    <div class="timeline__component">
      <h2 class="timeline__title">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam,
        nisi!
      </h2>
      <p class="timeline__paragraph">
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Fugiat nulla
        sint voluptate dolor quo commodi ut mollitia labore ad! Animi?
      </p>
    </div>
    <div class="timeline-vertical">
      <div class="timeline__point"></div>
    </div>
    <div></div>

    <div></div>
    <div class="timeline-vertical">
      <div class="timeline__point"></div>
    </div>
    <div class="timeline__component">
      <h2 class="timeline__title">Lorem ipsum dolor sit.</h2>
      <p class="timeline__paragraph">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit accusamus
        fugit, adipisci magni cum ullam, commodi
      </p>
    </div>

    <div class="timeline__component">
      <h2 class="timeline__title">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam,
        nisi!
      </h2>
      <p class="timeline__paragraph">
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Fugiat nulla
        sint voluptate dolor quo commodi ut mollitia labore ad! Animi?
      </p>
    </div>
    <div class="timeline-vertical">
      <div class="timeline__point"></div>
    </div>
    <div></div>

    <div></div>
    <div class="timeline-vertical">
      <div class="timeline__point"></div>
    </div>
    <div class="timeline__component">
      <h2 class="timeline__title">Lorem ipsum dolor sit.</h2>
      <p class="timeline__paragraph">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit accusamus
        fugit, adipisci magni cum ullam, commodi
      </p>
    </div>

    <div class="timeline__component">
      <h2 class="timeline__title">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam,
        nisi!
      </h2>
      <p class="timeline__paragraph">
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Fugiat nulla
        sint voluptate dolor quo commodi ut mollitia labore ad! Animi?
      </p>
    </div>
    <div class="timeline-vertical">
      <div class="timeline__point"></div>
    </div>
    <div></div>
  </div>
</div>
