<div class="search">
  <form class="search-form">
    <div class="search-form-container">

      <input type="text" name="search" id="search" class="search-searchbar" 
        #tagInput [formControl]="tagCtrl" 
        [matChipInputFor]="chipGrid"
        [matAutocomplete]="auto" [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
        (matChipInputTokenEnd)="add($event)" />
      <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
        <mat-option *ngFor="let tag of filteredTags | async" [value]="tag">
          {{tag}}
        </mat-option>
      </mat-autocomplete>

      <button type="submit" class="search-submit" (click)="searchOnTag()">
        <svg fill="#FFF" class="search-submit-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
          <path
            d="M416 208c0 45.9-14.9 88.3-40 122.7L502.6 457.4c12.5 12.5 12.5 32.8 0 45.3s-32.8 12.5-45.3 0L330.7 376c-34.4 25.2-76.8 40-122.7 40C93.1 416 0 322.9 0 208S93.1 0 208 0S416 93.1 416 208zM208 352c79.5 0 144-64.5 144-144s-64.5-144-144-144S64 128.5 64 208s64.5 144 144 144z" />
        </svg>
      </button>

      <mat-chip-grid #chipGrid aria-label="Tag selection" class="searchbar-chip-grid">
        <mat-chip-row *ngFor="let tag of tags" (removed)="remove(tag)">
          {{tag}}
          <button matChipRemove [attr.aria-label]="'remove ' + tag">
            <mat-icon><i class="bi bi-x"></i></mat-icon>
          </button>
        </mat-chip-row>
      </mat-chip-grid>

    </div>
  </form>
</div>


<div class="timeline" infinite-scroll [infiniteScrollDistance]="distance" [infiniteScrollThrottle]="throttle" (scrolled)="onScroll()">

  <div class="timeline-year">
    <span class="timeline-year-content">2022</span>
  </div>

  <div *ngFor="let event of events let left = even; let right = odd" class="timeline-container"
    [ngClass]="{ right: right, left: left }">
    <div class="timeline-icon">
      <div class="timeline-icon-content">
        <span class="timeline-icon-content-day">
          {{event.eventDate.getDate()}}
        </span>
        <span class="timeline-icon-content-month">
          {{event.eventDate.toLocaleString('default', { month: 'short' })}}
        </span>
      </div>
    </div>
    <div class="timeline-textbox">

      <h2>{{event.title}}</h2>
      <p>
        {{event.description.slice(0, 150)}}
        <span *ngIf="event.description.length > 150">...</span>
      </p>
      <div class="detail-button-container">
        <button class="btn" routerLink="/organizations/{{loggedInUser.organization}}/events/{{event._id}}">Lees meer</button>
      </div>
    </div>
  </div>
</div>
