/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import "~bootstrap/dist/css/bootstrap.css";

body {
    background-color: #FFF;
}

.invalid-feeback {
    color: red;
}

.form-control:focus {
    outline: none !important;
    box-shadow: none !important;
}
