<div class="container my-4" *ngIf="event">
  <div class="row d-flex justify-content-center align-items-center">
    <div class="col-sm-12 col-md-8">
      <div class="card shadow-lg">
        <div class="card-body p-5">
          <button class="btn" routerLink="/">
            <i class="bi bi-arrow-left"></i> Terug
          </button>
          <button class="btn" style="float: right !important;" routerLink="./edit">
            Bewerk gebeurtenis <i class="bi bi-pencil-square"></i>
          </button>
          <br><br>
          <h1>{{ event.title }}</h1>
          <i>{{ event.description }}</i>
          <br><br>
          <mat-chip-grid #chipGrid aria-label="Tag selection">
            <mat-chip-row *ngFor="let tag of tags">
              {{ tag.name }}
            </mat-chip-row>
          </mat-chip-grid>
          <br>
          <quill-view-html class="p-0" [content]="event.content"></quill-view-html>
          <br>
          <small><i>Gebeurtenis vond plaatst op <b>{{ event.eventDate | date : 'dd-MM-YYYY' }}</b></i></small>
        </div>
      </div>
    </div>
  </div>
</div>